<!DOCTYPE html>

<html>

<head>

<link rel="stylesheet" type="text/css" href="/static/style.css">

</head>

<body>
    <h1>Artificial Intelligence UAF Support System</h1>

    <div>
    <div id="chatbox">
            <p class="botText"><span>Hi! I'm Chatterbot.</span></p>
            <div id="anchor"><span></span></div>
    </div>

    <div id="userInput">

    <input id="textInput" role="textbox" name="msg" placeholder="Message">
    <input id="buttonInput" type="submit" value="Send">

    </div>


<script src="static/jquery.min.js"></script>
<script src="static/script.js"></script>

</div>
</body>
</html>
